<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>In+</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- container wrapper -->

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
       <!-- logo -->
       <div class="logo">
          logo
       </div>
       <div class="menu-list">
          <ul class="list-unstyled left-menu-list">
            <li><i class="fa fa-th-large" aria-hidden="true"></i></li>
            <li><i class="fa fa-diamond" aria-hidden="true"></i></li>
            <li><i class="fa fa-bar-chart" aria-hidden="true"></i></li>
            <li class="active"><i class="fa fa-envelope" aria-hidden="true"></i></li>
            <li><i class="fa fa-pie-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-flask" aria-hidden="true"></i></li>
            <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-desktop" aria-hidden="true"></i></li>
            <li><i class="fa fa-files-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-globe" aria-hidden="true"></i></li>
            <li><i class="fa fa-flask" aria-hidden="true"></i></li>
            <li><i class="fa fa-laptop" aria-hidden="true"></i></li>
           
           
          </ul>
       </div>
    </nav>
    <!-- sidebar -->
    <!-- Page Content  -->
    <div id="content">
      <!-- header -->
      <header class="header-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 ">
                <button type="button" id="sidebarCollapse" class="btn btn-info common-button">
                    <i class="fa fa-bars"></i>
                </button>
                <span>Search for something here...</span>
            </div>
            <div class="col-md-8 text-right">
                <i class="fa fa-envelope position-relative top-icon" aria-hidden="true">
                    <span class="badge badge-light top-icon-badge bg-warning">16</span>
                </i>
                <i class="fa fa-bell position-relative top-icon" aria-hidden="true">
                    <span class="badge badge-light top-icon-badge bg-success">8</span>
                </i>
                <button class="no-bg-button">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  Log out
                </button>
            </div>
          </div> 
        </div>
        </header>
            <div class="container-fluid">
              

                <!-- main content -->
                <section class="main-content">
                  <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary full-container-width mb-3 common-button" data-toggle="modal" data-target="#exampleModalCenter">
                            Compose Mail
                          </button>
                          <h5 class="mb-2">FOLDERS</h5>
                          <ul class="list-unstyled">
                            <li><i class="fa fa-inbox" aria-hidden="true"></i> Inbox</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Send Mail</li>
                            <li> <i class="fa fa-certificate" aria-hidden="true"></i> Important</li>
                            <li><i class="fa fa-file" aria-hidden="true"></i> Drafts</li>
                            <li><i class="fa fa-trash-o" aria-hidden="true"></i> Trash</li>
                          </ul>
                          <h5 class="mb-2">CATEGORIES</h5>
                          <ul class="list-unstyled">
                            <li><i class="fa fa-circle"></i> Work</li>
                            <li><i class="fa fa-circle"></i> Documents</li>
                            <li><i class="fa fa-circle"></i> Social</li>
                            <li><i class="fa fa-circle"></i> Advertising</li>
                            <li><i class="fa fa-circle"></i> Clients</li>
                          </ul>
                          <h5 class="mb-2">Labels</h5>
                          <div class="badge-container">
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Family</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Work</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Home</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Children</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Holidays</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Music</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Photography</span>
                              <span class="badge tag"><i class="fa fa-tag" aria-hidden="true"></i> Film</span>
                          </div>
                          
                    </div>
                    <div class="col-md-9 inbox-container">
                      <h3>Inbox(16) 
                          <!-- input search -->
                        <div class="input-group custom-input pull-right">
                          <input type="text" class="form-control" placeholder="Search email">
                          <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                    </h3>
                      <div class="col no-padding mt-3">
                        <button class="btn btn-outline-secondary"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button> 
                        <button class="btn btn-outline-secondary"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn btn-outline-secondary"><i class="fa fa-exclamation" aria-hidden="true"></i></button>
                        <button class="btn btn-outline-secondary"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <span class="pull-right">
                            <button class="btn btn-outline-secondary"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-secondary"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </span>
                      </div>
                    <!-- mailbox container -->
                      <table id="mailboxcContaner" class="table table-bordered">
                      </table>
                    </div>
                  </div>
                </section>
            </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text" id="toEmail" >
                    <input type="text" id="ccEmail" >
                    <input type="text" id="emailSubject" >

                    <textarea id="emailBody"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button"  onclick="sendEmail()" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

  <script>
    function getInbox() {
      var storedEmails = JSON.parse(localStorage.getItem('storedEmails') || '[]');
      var inbox = _.where(storedEmails, {to: localStorage.getItem('currentUser')});
      console.log('inbox===>', inbox);
    }

    getInbox();

    function getSentEmails() {
      var storedEmails = JSON.parse(localStorage.getItem('storedEmails') || '[]');
      var inbox = _.where(storedEmails, {from: localStorage.getItem('currentUser')});
      console.log('sent===>', inbox);
    }

    getSentEmails();

    function sendEmail() {
      var toEmail = document.getElementById('toEmail').value;
      var ccEmail = document.getElementById('ccEmail').value;
      var emailSubject = document.getElementById('emailSubject').value;
      var emailBody = document.getElementById('emailBody').value;

      console.log('--start--')
      var storedEmails = JSON.parse(localStorage.getItem('storedEmails') || '[]');
      storedEmails.push({
        to: toEmail,
        cc: ccEmail,
        subject: emailSubject,
        body: emailBody
      });

      console.log('--stored--', storedEmails);

      localStorage.setItem('storedEmails', JSON.stringify(storedEmails))
      console.log('getall==>', localStorage.getItem('storedEmails'));
      for(i=0;i<storedEmails.length;i++){
        var row = $('<tr>'+
      '<td><input type="checkbox"></td>'+
      '<td>'+storedEmails[i].to+'</td>'+
      '<td>'+storedEmails[i].cc+'</td>'+
      '<td>'+storedEmails[i].subject+'</td>'+
      '<td>'+storedEmails[i].body+'</td>'+
      '</tr>'); 
      $('#mailboxcContaner').append(row);
 
      }
    }

    $(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

});
  </script>
</body>
</html>